
@*@inherits UmbracoViewPage<website.Odin.Umbraco.ULinkedIn.PropertyEditor.Controllers.ProductViewModel>*@
@*@inherits Umbraco.Web.Mvc.UmbracoTemplatePage*@
@inherits UmbracoViewPage<website.Odin.Umbraco.ULinkedIn.PropertyEditor.ViewModels.RequestAnAuthorizationCodeErrorViewModel>
@{
//Layout = null;


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>
        Authorize template
    </h1>

    <h2 style="color: green;">
        hello
    </h2>

    <h4>
        Incorrect parameter in Umbraco, so we haven't tried to authenticate with LinkedIn.
    </h4>
    <p>@Model.HumanMessage</p>
</body>
</html>
